In [79]:
import pandas as pd
import numpy as np
from itertools import chain
from collections import Counter
import pandas as pd
import numpy as np
from itertools import chain
from collections import Counter
import textstat
import seaborn as sns
import matplotlib.pyplot as plt
# Set the style of the plot
sns.set_style('whitegrid')
plt.rcParams['font.family'] = ['SimHei']

import math
import re

from tqdm import tqdm
from sklearn.cluster import KMeans
import geopy

import warnings
warnings.filterwarnings('ignore')

from matplotlib import style
from matplotlib import pyplot as plt
pd.set_option('display.max_columns', None)
%matplotlib inline
style.use("fivethirtyeight")

In [2]:
v202303_vote_within7days=pd.read_csv('data/v202403_vote_within7days.csv')
v202203_vote_within7days=pd.read_csv('data/v202303_vote_within7days.csv')

In [77]:
v202203_vote_within7days.columns

Index(['Id', 'VoteType1Count', 'VoteType2Count', 'VoteType3Count'], dtype='object')

In [78]:
v2023_posts_df=pd.read_pickle('data/240412-v2023_posts_df.pickle')
v2023_posts_df=v2023_posts_df.merge(v202303_vote_within7days,how='left',left_on='Id',right_on='Id')
v2023_posts_df[['VoteType1Count', 'VoteType2Count', 'VoteType3Count']]=v2023_posts_df[['VoteType1Count', 'VoteType2Count', 'VoteType3Count']].fillna(0)
v2023_posts_df

,Id,PostTypeId,AcceptedAnswerId,...,VoteType1Count,VoteType2Count,VoteType3Count
0,70177579,2,NaN,...,0.0,0.0,0.0
1,70177580,2,NaN,...,0.0,0.0,0.0
2,70177581,2,NaN,...,1.0,0.0,0.0
3,70177583,2,NaN,...,0.0,1.0,0.0
4,70177584,2,NaN,...,0.0,0.0,0.0
...,...,...,...,...,...,...,...
5645469,78091308,1,NaN,...,0.0,0.0,0.0
5645470,78091309,1,NaN,...,0.0,0.0,0.0
5645471,78091310,2,NaN,...,0.0,0.0,0.0
5645472,78091311,1,NaN,...,0.0,0.0,0.0
5645473,78091312,2,NaN,...,0.0,0.0,0.0

In [5]:
v2022_posts_df=pd.read_pickle('data/240412-v2022_posts_df.pickle')
v2022_posts_df=v2022_posts_df.merge(v202203_vote_within7days,how='left',left_on='Id',right_on='Id')
v2022_posts_df[['VoteType1Count', 'VoteType2Count', 'VoteType3Count']]=v2022_posts_df[['VoteType1Count', 'VoteType2Count', 'VoteType3Count']].fillna(0)
v2022_posts_df

,Id,PostTypeId,AcceptedAnswerId,...,VoteType1Count,VoteType2Count,VoteType3Count
0,65082871,2,NaN,...,1.0,3.0,0.0
1,65082872,2,NaN,...,0.0,0.0,0.0
2,65082874,1,65082893.0,...,0.0,1.0,0.0
3,65082876,2,NaN,...,0.0,0.0,0.0
4,65082878,1,NaN,...,0.0,1.0,0.0
...,...,...,...,...,...,...,...
7750266,75640478,1,NaN,...,0.0,0.0,0.0
7750267,75640479,2,NaN,...,0.0,1.0,0.0
7750268,75640480,1,NaN,...,0.0,0.0,0.0
7750269,75640481,1,NaN,...,0.0,0.0,0.0
7750270,75640482,1,NaN,...,0.0,0.0,0.0

In [6]:
v2023_posts_q_to_a_df=pd.read_pickle('data/240412-v2023_posts_q_to_a_df.pickle').drop_duplicates()
v2023_posts_q_to_a_df.columns=['Q_'+i for i in v2023_posts_q_to_a_df.columns]
v2023_posts_df=v2023_posts_df.merge(v2023_posts_q_to_a_df,how='left',left_on='ParentId',right_on='Q_Id')
del v2023_posts_q_to_a_df
v2023_posts_df

,Id,PostTypeId,AcceptedAnswerId,...,Q_pure_body_flesch_kincaid_grade,Q_pure_body_flesch_reading_ease,Q_pure_body_smog_index
0,70177579,2,NaN,...,2.8,94.35,8.1
1,70177580,2,NaN,...,7.1,67.04,10.0
2,70177581,2,NaN,...,9.1,61.87,11.2
3,70177583,2,NaN,...,5.9,70.09,9.4
4,70177584,2,NaN,...,4.4,84.78,8.8
...,...,...,...,...,...,...,...
5645469,78091308,1,NaN,...,NaN,NaN,NaN
5645470,78091309,1,NaN,...,NaN,NaN,NaN
5645471,78091310,2,NaN,...,2.8,88.84,6.8
5645472,78091311,1,NaN,...,NaN,NaN,NaN
5645473,78091312,2,NaN,...,5.2,77.23,0.0

In [7]:
v2023_posts_df.columns

Index(['Id', 'PostTypeId', 'AcceptedAnswerId', 'ParentId', 'CreationDate',
       'DeletionDate', 'Score', 'ViewCount', 'Body', 'OwnerUserId',
       'OwnerDisplayName', 'LastEditorUserId', 'LastEditorDisplayName',
       'LastEditDate', 'LastActivityDate', 'Title', 'Tags', 'AnswerCount',
       'CommentCount', 'FavoriteCount', 'ClosedDate', 'CommunityOwnedDate',
       'body_string_len', 'body_lexicon_count', 'body_flesch_kincaid_grade',
       'body_flesch_reading_ease', 'body_smog_index', 'code_string_len',
       'code_lexicon_count', 'samp_string_len', 'samp_lexicon_count',
       'kbd_lexicon_count', 'kbd_string_len', 'var_string_len',
       'var_lexicon_count', 'full_code_string_len', 'full_code_lexicon_count',
       'pure_body_string_len', 'pure_body_lexicon_count',
       'pure_body_flesch_kincaid_grade', 'pure_body_flesch_reading_ease',
       'pure_body_smog_index', 'VoteType1Count', 'VoteType2Count',
       'VoteType3Count', 'Q_Id', 'Q_PostTypeId', 'Q_AcceptedAnswerId',
       'Q_ParentId', 'Q_CreationDate', 'Q_DeletionDate', 'Q_Score',
       'Q_ViewCount', 'Q_Body', 'Q_OwnerUserId', 'Q_OwnerDisplayName',
       'Q_LastEditorUserId', 'Q_LastEditorDisplayName', 'Q_LastEditDate',
       'Q_LastActivityDate', 'Q_Title', 'Q_Tags', 'Q_AnswerCount',
       'Q_CommentCount', 'Q_FavoriteCount', 'Q_ClosedDate',
       'Q_CommunityOwnedDate', 'Q_body_string_len', 'Q_body_lexicon_count',
       'Q_body_flesch_kincaid_grade', 'Q_body_flesch_reading_ease',
       'Q_body_smog_index', 'Q_code_string_len', 'Q_code_lexicon_count',
       'Q_samp_string_len', 'Q_samp_lexicon_count', 'Q_kbd_lexicon_count',
       'Q_kbd_string_len', 'Q_var_string_len', 'Q_var_lexicon_count',
       'Q_full_code_string_len', 'Q_full_code_lexicon_count',
       'Q_pure_body_string_len', 'Q_pure_body_lexicon_count',
       'Q_pure_body_flesch_kincaid_grade', 'Q_pure_body_flesch_reading_ease',
       'Q_pure_body_smog_index'],
      dtype='object')

In [8]:
v2022_posts_q_to_a_df=pd.read_pickle('data/240412-v2022_posts_q_to_a_df.pickle').drop_duplicates()
v2022_posts_q_to_a_df.columns=['Q_'+i for i in v2022_posts_q_to_a_df.columns]
v2022_posts_df=v2022_posts_df.merge(v2022_posts_q_to_a_df,how='left',left_on='ParentId',right_on='Q_Id')
del v2022_posts_q_to_a_df
v2022_posts_df

,Id,PostTypeId,AcceptedAnswerId,...,Q_pure_body_flesch_kincaid_grade,Q_pure_body_flesch_reading_ease,Q_pure_body_smog_index
0,65082871,2,NaN,...,12.6,63.36,0.0
1,65082872,2,NaN,...,4.3,79.56,8.3
2,65082874,1,65082893.0,...,NaN,NaN,NaN
3,65082876,2,NaN,...,7.9,64.91,10.7
4,65082878,1,NaN,...,NaN,NaN,NaN
...,...,...,...,...,...,...,...
7750266,75640478,1,NaN,...,NaN,NaN,NaN
7750267,75640479,2,NaN,...,3.5,92.53,8.3
7750268,75640480,1,NaN,...,NaN,NaN,NaN
7750269,75640481,1,NaN,...,NaN,NaN,NaN
7750270,75640482,1,NaN,...,NaN,NaN,NaN

In [9]:
v2023_posts_df.columns

Index(['Id', 'PostTypeId', 'AcceptedAnswerId', 'ParentId', 'CreationDate',
       'DeletionDate', 'Score', 'ViewCount', 'Body', 'OwnerUserId',
       'OwnerDisplayName', 'LastEditorUserId', 'LastEditorDisplayName',
       'LastEditDate', 'LastActivityDate', 'Title', 'Tags', 'AnswerCount',
       'CommentCount', 'FavoriteCount', 'ClosedDate', 'CommunityOwnedDate',
       'body_string_len', 'body_lexicon_count', 'body_flesch_kincaid_grade',
       'body_flesch_reading_ease', 'body_smog_index', 'code_string_len',
       'code_lexicon_count', 'samp_string_len', 'samp_lexicon_count',
       'kbd_lexicon_count', 'kbd_string_len', 'var_string_len',
       'var_lexicon_count', 'full_code_string_len', 'full_code_lexicon_count',
       'pure_body_string_len', 'pure_body_lexicon_count',
       'pure_body_flesch_kincaid_grade', 'pure_body_flesch_reading_ease',
       'pure_body_smog_index', 'VoteType1Count', 'VoteType2Count',
       'VoteType3Count', 'Q_Id', 'Q_PostTypeId', 'Q_AcceptedAnswerId',
       'Q_ParentId', 'Q_CreationDate', 'Q_DeletionDate', 'Q_Score',
       'Q_ViewCount', 'Q_Body', 'Q_OwnerUserId', 'Q_OwnerDisplayName',
       'Q_LastEditorUserId', 'Q_LastEditorDisplayName', 'Q_LastEditDate',
       'Q_LastActivityDate', 'Q_Title', 'Q_Tags', 'Q_AnswerCount',
       'Q_CommentCount', 'Q_FavoriteCount', 'Q_ClosedDate',
       'Q_CommunityOwnedDate', 'Q_body_string_len', 'Q_body_lexicon_count',
       'Q_body_flesch_kincaid_grade', 'Q_body_flesch_reading_ease',
       'Q_body_smog_index', 'Q_code_string_len', 'Q_code_lexicon_count',
       'Q_samp_string_len', 'Q_samp_lexicon_count', 'Q_kbd_lexicon_count',
       'Q_kbd_string_len', 'Q_var_string_len', 'Q_var_lexicon_count',
       'Q_full_code_string_len', 'Q_full_code_lexicon_count',
       'Q_pure_body_string_len', 'Q_pure_body_lexicon_count',
       'Q_pure_body_flesch_kincaid_grade', 'Q_pure_body_flesch_reading_ease',
       'Q_pure_body_smog_index'],
      dtype='object')

In [10]:
v2023_posts_base_df=v2023_posts_df[(v2023_posts_df['PostTypeId']==2)
                            &(v2023_posts_df['OwnerUserId'].notnull())
                              &(v2023_posts_df['CreationDate']>='2021-12-01')
                              &(v2023_posts_df['CreationDate']<='2023-12-01')]

In [11]:
v2022_posts_base_df=v2022_posts_df[(v2022_posts_df['PostTypeId']==2)
                                  &(v2022_posts_df['OwnerUserId'].notnull())
                                  &(v2022_posts_df['CreationDate']>='2020-12-01')
                                  &(v2022_posts_df['CreationDate']<='2022-12-01')]

In [12]:
v2022_posts_base_df['ans_ques_time(h)']=(v2022_posts_base_df['CreationDate']-v2022_posts_base_df['Q_CreationDate']).apply(lambda x:x.seconds/3600)
v2023_posts_base_df['ans_ques_time(h)']=(v2023_posts_base_df['CreationDate']-v2023_posts_base_df['Q_CreationDate']).apply(lambda x:x.seconds/3600)

In [13]:
import pickle
with open("location_nation.pkl",'rb') as f:      # 读文件
    location_nation = pickle.load(f) 
with open("dict_Europen_nations.pkl",'rb') as f:      # 读文件
    dict_Europen_nations = pickle.load(f) 
dict_Europen_nations

{'Russia': 'Россия',
 'Ukraine': 'Україна',
 'France': 'France',
 'Spain': 'España',
 'Sweden': 'Sverige',
 'Germany': 'Deutschland',
 'Finland': 'Suomi / Finland',
 'Norway': 'Norge',
 'Poland': 'Polska',
 'Italy': 'Italia',
 'United Kingdom': 'United Kingdom',
 'Romania': 'România',
 'Belarus': 'Беларусь',
 'Greece': 'Ελλάς',
 'Bulgaria': 'България',
 'Iceland': 'Ísland',
 'Portugal': 'Portugal',
 'Czech Republic': 'Česko',
 'Denmark': 'Danmark',
 'Hungary': 'Magyarország',
 'Serbia': 'Србија',
 'Austria': 'Österreich',
 'Ireland': 'Éire / Ireland',
 'Lithuania': 'Lietuva',
 'Latvia': 'Latvija',
 'Croatia': 'Hrvatska',
 'Bosnia and Herzegovina': 'Bosna i Hercegovina / Босна и Херцеговина',
 'Slovakia': 'Slovensko',
 'Estonia': 'Eesti',
 'Netherlands': 'Nederland',
 'Switzerland': 'Schweiz/Suisse/Svizzera/Svizra',
 'Moldova': 'Moldova',
 'Belgium': 'België / Belgique / Belgien',
 'Albania': 'Shqipëria',
 'Macedonia': 'Северна Македонија',
 'Slovenia': 'Slovenija',
 'Montenegro': 'Crna Gora / Црна Гора',
 'Luxembourg': 'Lëtzebuerg',
 'Faroe Is.': 'Faroe Court, Coles, Warwick, Kent County, Rhode Island, 02889, United States',
 'Andorra': 'Andorra',
 'Malta': 'Malta',
 'Liechtenstein': 'Liechtenstein',
 'Guernsey': 'Guernsey',
 'San Marino': 'San Marino',
 'Gibraltar': 'Gibraltar',
 'Monaco': 'Monaco',
 'Vatican City': 'Civitas Vaticana - Città del Vaticano'}

In [14]:
dict_nations_continent={k:'Europen' for k in dict_Europen_nations.keys()}
dict_nations_continent['United States']='United States'

In [15]:
dict_nations={v:k for k,v in dict_Europen_nations.items()}
dict_nations['United States']='United States'

In [16]:
df_address=pd.DataFrame(location_nation,index=['address','point']).T
df_address

,address,point
on the server farm,None,None
"El Cerrito, CA","El Cerrito, Contra Costa County, CAL Fire Nort...","(37.9154056, -122.301411)"
"Corvallis, OR","Corvallis, Benton County, Oregon, United States","(44.5645659, -123.2620435)"
"Johnson City, TN, USA","Johnson City, Washington County, East Tennesse...","(36.3134398, -82.3534728)"
"New York, NY","City of New York, New York, United States","(40.7127281, -74.0060152)"
...,...,...
"Lochau, Vorarlberg, Austria","Gemeinde Lochau, Bezirk Bregenz, Vorarlberg, 6...","(47.5294182, 9.7533944)"
"Miramar, FL","Miramar, Broward County, Florida, United States","(25.9873137, -80.2322706)"
"Hefei, Anhui, China (中国 安徽省 合肥市)","市三院, 望江东路, 东华科技股份有限公司, 芜湖路街道, 淝河镇, 包河区, 安徽省, 2...","(31.8307479, 117.26474205000002)"
"Israel, Tel-Aviv","תל אביב-יפו, נפת תל אביב, מחוז תל אביב, ישראל","(32.0852997, 34.7818064)"
"Astoria, Oregon","Astoria, Clatsop County, Oregon, 97103, United...","(46.1882007, -123.8319802)"

In [17]:
v2023_users=pd.read_pickle('data/users_in_v202403.pickle')
v2023_users.columns=['User_'+i for i in v2023_users.columns]

v2022_users=pd.read_pickle('data/users_in_v202303.pickle')
v2022_users.columns=['User_'+i for i in v2022_users.columns]

In [18]:
len(v2023_users['User_Id'].unique())

1759125

In [19]:
df_states=pd.read_csv('data/states.csv')
def get_nation(x):
    if type(x) is str:
        return x.split(', ')[-1]
def get_state(x):
    if type(x) is str and 'United States' in x:
        for state in df_states.State:
            if state in x:
                return state

In [20]:
v2023_users=v2023_users[v2023_users['User_Id'].isin(v2023_posts_base_df['OwnerUserId'])]
v2023_users=v2023_users[v2023_users['User_Location'].notnull()]
v2023_users=v2023_users.merge(df_address,how='left',left_on='User_Location',right_index=True, validate = 'm:1')

v2022_users=v2022_users[v2022_users['User_Id'].isin(v2022_posts_base_df['OwnerUserId'])]
v2022_users=v2022_users[v2022_users['User_Location'].notnull()]
v2022_users=v2022_users.merge(df_address,how='left',left_on='User_Location',right_index=True, validate = 'm:1')

In [21]:
v2022_users.columns

Index(['User_Id', 'User_Reputation', 'User_CreationDate', 'User_DisplayName',
       'User_LastAccessDate', 'User_WebsiteUrl', 'User_Location',
       'User_AboutMe', 'User_Views', 'User_UpVotes', 'User_DownVotes',
       'User_ProfileImageUrl', 'User_EmailHash', 'User_AccountId', 'address',
       'point'],
      dtype='object')

In [22]:
v2022_users['User_Age']=(pd.to_datetime('2020-12-01')-v2022_users['User_CreationDate']).apply(lambda x:(x.days)/365)
v2023_users['User_Age']=(pd.to_datetime('2021-12-01')-v2023_users['User_CreationDate']).apply(lambda x:(x.days)/365)

v2022_users['User_Duration']=(v2022_users['User_LastAccessDate']-v2022_users['User_CreationDate']).apply(lambda x:(x.days)/365)
v2023_users['User_Duration']=(v2023_users['User_LastAccessDate']-v2023_users['User_CreationDate']).apply(lambda x:(x.days)/365)

In [23]:
v2023_users['nation']=v2023_users['address'].apply(lambda x:get_nation(x))
v2023_users['state']=v2023_users['address'].apply(lambda x:get_state(x))

v2022_users['nation']=v2022_users['address'].apply(lambda x:get_nation(x))
v2022_users['state']=v2022_users['address'].apply(lambda x:get_state(x))

In [24]:
v2023_posts_base_df=v2023_posts_base_df.merge(v2023_users[['User_Id','User_Reputation', 'User_LastAccessDate', 'User_CreationDate', 
    'User_Views', 'User_UpVotes', 'User_DownVotes','User_Age','User_Duration', 'address','point','nation','state',]],how='left',left_on='OwnerUserId',
                                              right_on='User_Id', validate = 'm:1')
v2022_posts_base_df=v2022_posts_base_df.merge(v2022_users[['User_Id','User_Reputation', 'User_LastAccessDate', 'User_CreationDate', 
    'User_Views', 'User_UpVotes', 'User_DownVotes', 'User_Age','User_Duration','address','point','nation','state']],how='left',left_on='OwnerUserId',
                                              right_on='User_Id', validate = 'm:1')

In [25]:
v2023_posts_base_df['nation']=v2023_posts_base_df['address'].apply(lambda x:get_nation(x))
v2023_posts_base_df['state']=v2023_posts_base_df['address'].apply(lambda x:get_state(x))

v2022_posts_base_df['nation']=v2022_posts_base_df['address'].apply(lambda x:get_nation(x))
v2022_posts_base_df['state']=v2022_posts_base_df['address'].apply(lambda x:get_state(x))

In [26]:
v2023_posts_base_df['full_code_string_ratio']=v2023_posts_base_df['full_code_string_len']/v2023_posts_base_df['body_string_len']

v2022_posts_base_df['full_code_string_ratio']=v2022_posts_base_df['full_code_string_len']/v2022_posts_base_df['body_string_len']

In [27]:
df_language=pd.read_table('main programming language.txt',header=None)
df_language=df_language.rename({0:'Language'},axis=1)
df_language['Language']=df_language['Language'].str.lower()
list_language=df_language['Language'].tolist()
list_language[0:5]

['python', 'java', 'c++', 'c', 'javascript']

In [28]:
v2022_posts_base_df['Q_Tags'] = v2022_posts_base_df['Q_Tags'].fillna('')
v2023_posts_base_df['Q_Tags'] = v2023_posts_base_df['Q_Tags'].fillna('')

v2022_posts_base_df['Q_Tags_list']=v2022_posts_base_df['Q_Tags'].apply(lambda x:re.findall(r"<(.*?)>", x))
v2023_posts_base_df['Q_Tags_list']=v2023_posts_base_df['Q_Tags'].apply(lambda x:re.findall(r"<(.*?)>", x))

v2022_posts_base_df['Q_Tags_list_filter']=v2022_posts_base_df['Q_Tags_list'].apply(lambda x:[i for i in x if i in list_language])
v2023_posts_base_df['Q_Tags_list_filter']=v2023_posts_base_df['Q_Tags_list'].apply(lambda x:[i for i in x if i in list_language])

v2022_posts_base_df['Q_Tags_len']=v2022_posts_base_df['Q_Tags_list'].apply(lambda x:len(x))
v2023_posts_base_df['Q_Tags_len']=v2023_posts_base_df['Q_Tags_list'].apply(lambda x:len(x))

v2022_posts_base_df['Q_Tags_list_filter_len']=v2022_posts_base_df['Q_Tags_list_filter'].apply(lambda x:len(x))
v2023_posts_base_df['Q_Tags_list_filter_len']=v2023_posts_base_df['Q_Tags_list_filter'].apply(lambda x:len(x))

In [99]:
print('Nation Number 2023--',len(Counter(v2023_posts_base_df['nation'])))
print('Users Number 2023--',len(v2023_posts_base_df['OwnerUserId'].unique()))

Counter(v2023_posts_base_df['nation']).most_common(n=20)

Nation Number 2023-- 225
Users Number 2023-- 686680

[(None, 1275144),
 ('United States', 323303),
 ('India', 161115),
 ('Deutschland', 109754),
 ('United Kingdom', 102426),
 ('France', 61998),
 ('Canada', 51723),
 ('Australia', 43234),
 ('Nederland', 43029),
 ('Polska', 27443),
 ('Italia', 24175),
 ('پاکستان', 23016),
 ('ایران', 22643),
 ('Россия', 21774),
 ('Schweiz/Suisse/Svizzera/Svizra', 21468),
 ('España', 21229),
 ('ישראל', 20983),
 ('Türkiye', 20634),
 ('Österreich', 20616),
 ('中国', 20537)]

In [98]:
print('Nation Number 2022--',len(Counter(v2022_posts_base_df['nation'])))
print('Users Number 2022--',len(v2022_posts_base_df['OwnerUserId'].unique()))

Counter(v2022_posts_base_df['nation']).most_common(n=20)

Nation Number 2022-- 234
Nation Number 2022-- 788241

[(None, 1512183),
 ('United States', 455775),
 ('India', 263028),
 ('Deutschland', 150243),
 ('United Kingdom', 141681),
 ('France', 84114),
 ('Canada', 71971),
 ('Nederland', 61571),
 ('Australia', 55335),
 ('Polska', 41689),
 ('Россия', 36051),
 ('Italia', 35026),
 ('ایران', 33501),
 ('پاکستان', 32380),
 ('España', 31897),
 ('Österreich', 30272),
 ('বাংলাদেশ', 30224),
 ('ישראל', 30133),
 ('中国', 29927),
 ('Brasil', 28950)]

In [31]:
list_meaning_nation_2023=[k for k,v in Counter(v2023_posts_base_df['nation']).items() if v>20]
list_meaning_nation_2022=[k for k,v in Counter(v2022_posts_base_df['nation']).items() if v>20]
list_meaning_nation=[i for i in list_meaning_nation_2022 if i in list_meaning_nation_2023]
mean_list=['Africa','Ōu',None,'Soul Buoy','中国','Россия','Україна','Italia','조선민주주의인민공화국',
           'ایران','سورية, سوريا','香港','Hong Kong','Cuba']
list_meaning_nation=[i for i in list_meaning_nation_2022 if i not in mean_list]
len(list_meaning_nation)
# Africa

170

In [32]:
# list_meaning_nation_2023=[v for k,v in Counter(v2023_posts_base_df['nation']).items() if v>20]
# list_meaning_nation_2022=[v for k,v in Counter(v2022_posts_base_df['nation']).items() if v>20]

# User-Nation

In [33]:
df_v2023_comment=pd.read_pickle('data/df_v2023_comment.pickle')
df_v2022_comment=pd.read_pickle('data/df_v2022_comment.pickle')

In [34]:
df_v2022_comment

,PostId,CommentScore,TotalComment,AnswerComment,QuestionerComment,ViewerComment
0,65082871,0.5,2,1.0,1.0,0.0
1,65082890,0.0,1,0.0,1.0,0.0
2,65082895,0.0,1,0.0,1.0,0.0
3,65082899,0.0,1,0.0,1.0,0.0
4,65082903,0.0,2,1.0,1.0,0.0
...,...,...,...,...,...,...
743042,74635428,0.0,2,1.0,1.0,0.0
743043,74635444,0.0,1,0.0,1.0,0.0
743044,74635446,0.0,1,0.0,1.0,0.0
743045,74635463,0.0,2,0.0,1.0,1.0
743046,74635467,0.5,2,1.0,1.0,0.0

In [35]:
v2022_nation_post=v2022_posts_base_df[(v2022_posts_base_df['nation'].isin(list_meaning_nation))]
v2022_nation_post=v2022_nation_post.merge(df_v2022_comment,how='left',left_on='Id',right_on='PostId')
v2022_nation_post[[ 'CommentScore', 'TotalComment', 'AnswerComment', 'QuestionerComment', 'ViewerComment']]=v2022_nation_post[[ 'CommentScore', 'TotalComment', 'AnswerComment', 'QuestionerComment', 'ViewerComment']].fillna(0)
v2022_user_nation_post_group=v2022_nation_post.groupby(['User_Id',pd.Grouper(key='CreationDate', freq='D')]).agg(

     Up_vote = ('VoteType2Count','sum'),
     Down_vote = ('VoteType3Count','sum'),
    Score  =('Score', 'mean'),

    body_smog_index=('body_smog_index',  'mean'),
    pure_body_string_len =('pure_body_string_len', 'mean'),
    pure_body_smog_index =('pure_body_smog_index','mean'),

    Q_Score  =('Q_Score', 'mean'),
    Q_ViewCount =('Q_ViewCount', 'mean'),
    Q_AnswerCount  =('Q_AnswerCount', 'mean'),
    Q_CommentCount =('Q_CommentCount', 'mean'),
    Q_FavoriteCount =('Q_FavoriteCount', 'mean'),
    Q_body_string_len =('Q_body_string_len', 'mean'),

    ans_ques_time  =( 'ans_ques_time(h)', 'mean'),

    full_code_string_ratio =('full_code_string_ratio', 'mean'), 
     
    Q_Tags_set_filter =( 'Q_Tags_list_filter', lambda x:list(set(chain(*x)))),   

     TotalComment=('TotalComment',  'sum'),
     AnswerComment=('AnswerComment', 'sum'),
     QuestionerComment=('QuestionerComment', 'sum'),
     ViewerComment=('ViewerComment', 'sum'),
                                                            ).reset_index()

v2022_user_nation_post_group=v2022_user_nation_post_group.merge(v2022_users[['User_Id','nation']],how='left',left_on='User_Id',right_on='User_Id')
v2022_user_nation_post_group['version']='2022version'
v2022_user_nation_post_group['CreationDate_parallel']=v2022_user_nation_post_group['CreationDate']
v2022_user_nation_post_group['Delta_years']=(v2022_user_nation_post_group['CreationDate'].apply(lambda x:x.year) - 2020)
v2022_user_nation_post_group['year']=v2022_user_nation_post_group['CreationDate'].apply(lambda x:x.year)
v2022_user_nation_post_group['month']=v2022_user_nation_post_group['CreationDate'].apply(lambda x:x.month)
v2022_user_nation_post_group['day']=v2022_user_nation_post_group['CreationDate'].apply(lambda x:x.day)
v2022_user_nation_post_group['week_number']=v2022_user_nation_post_group['CreationDate'].apply(lambda x:x.isocalendar().week)
v2022_user_nation_post_group['week_day']=v2022_user_nation_post_group['CreationDate'].apply(lambda x:x.weekday())
v2022_user_nation_post_group['year_day']=v2022_user_nation_post_group['CreationDate'].apply(lambda x:x.timetuple().tm_yday)

v2022_user_nation_post_group['day_nb']=v2022_user_nation_post_group['year_day']+v2022_user_nation_post_group['Delta_years']*365
# v2022_user_nation_post_group['week_nb']=v2022_user_nation_post_group['year_day']+v2022_user_nation_post_group['Delta_years']*365
v2022_user_nation_post_group['month_nb']=v2022_user_nation_post_group['month']+v2022_user_nation_post_group['Delta_years']*12

v2022_user_nation_post_group.to_csv('pans/0606-v2022_user_nation_post_group.csv',encoding='utf-8-sig')
v2022_user_nation_post_group.to_pickle('pans/0606-v2022_user_nation_post_group.pickle')
# v2023_nation_post_group[v2023_nation_post_group['nation']=='대한민국'][['month_nb']]
v2022_user_nation_post_group

            User_Id CreationDate  Up_vote  ...  year_day  day_nb  month_nb
0              22.0   2021-10-21      0.0  ...       294     659        22
1              22.0   2022-09-01      3.0  ...       244     974        33
2              22.0   2022-09-02      2.0  ...       245     975        33
3              33.0   2021-01-20      0.0  ...        20     385        13
4              33.0   2021-02-18      0.0  ...        49     414        14
...             ...          ...      ...  ...       ...     ...       ...
1379936  21038281.0   2021-02-28      0.0  ...        59     424        14
1379937  21038281.0   2021-06-22      0.0  ...       173     538        18
1379938  21038281.0   2021-10-18      0.0  ...       291     656        22
1379939  21038281.0   2021-12-13      0.0  ...       347     712        24
1379940  21038281.0   2022-01-19      0.0  ...        19     749        25

[1379941 rows x 33 columns]

In [36]:
v2023_nation_post=v2023_posts_base_df[(v2023_posts_base_df['nation'].isin(list_meaning_nation))]
v2023_nation_post=v2023_nation_post.merge(df_v2023_comment,how='left',left_on='Id',right_on='PostId')
v2023_nation_post[[ 'CommentScore', 'TotalComment', 'AnswerComment', 'QuestionerComment', 'ViewerComment']]=v2023_nation_post[[ 'CommentScore', 'TotalComment', 'AnswerComment', 'QuestionerComment', 'ViewerComment']].fillna(0)
v2023_user_nation_post_group=v2023_nation_post.groupby(['User_Id',pd.Grouper(key='CreationDate', freq='D')]).agg(
     Up_vote = ('VoteType2Count','sum'),
     Down_vote = ('VoteType3Count','sum'),
    Score  =('Score', 'mean'),

    body_smog_index=('body_smog_index',  'mean'),
    pure_body_string_len =('pure_body_string_len', 'mean'),
    pure_body_smog_index =('pure_body_smog_index','mean'),

    Q_Score  =('Q_Score', 'mean'),
    Q_ViewCount =('Q_ViewCount', 'mean'),
    Q_AnswerCount  =('Q_AnswerCount', 'mean'),
    Q_CommentCount =('Q_CommentCount', 'mean'),
    Q_FavoriteCount =('Q_FavoriteCount', 'mean'),
    Q_body_string_len =('Q_body_string_len', 'mean'),

    ans_ques_time  =( 'ans_ques_time(h)', 'mean'),

    full_code_string_ratio =('full_code_string_ratio', 'mean'), 
     
    Q_Tags_set_filter =( 'Q_Tags_list_filter', lambda x:list(set(chain(*x)))),   

     TotalComment=('TotalComment',  'sum'),
     AnswerComment=('AnswerComment', 'sum'),
     QuestionerComment=('QuestionerComment', 'sum'),
     ViewerComment=('ViewerComment', 'sum'),
                                                            ).reset_index()

v2023_user_nation_post_group=v2023_user_nation_post_group.merge(v2023_users[['User_Id','nation']],how='left',left_on='User_Id',right_on='User_Id')
v2023_user_nation_post_group['version']='2023version'
v2023_user_nation_post_group['CreationDate_parallel']=v2023_user_nation_post_group['CreationDate'] - pd.DateOffset(years=1)
v2023_user_nation_post_group['Delta_years']=(v2023_user_nation_post_group['CreationDate'].apply(lambda x:x.year) - 2021)
v2023_user_nation_post_group['year']=v2023_user_nation_post_group['CreationDate'].apply(lambda x:x.year)
v2023_user_nation_post_group['month']=v2023_user_nation_post_group['CreationDate'].apply(lambda x:x.month)
v2023_user_nation_post_group['day']=v2023_user_nation_post_group['CreationDate'].apply(lambda x:x.day)
v2023_user_nation_post_group['week_number']=v2023_user_nation_post_group['CreationDate'].apply(lambda x:x.isocalendar().week)
v2023_user_nation_post_group['week_day']=v2023_user_nation_post_group['CreationDate'].apply(lambda x:x.weekday())
v2023_user_nation_post_group['year_day']=v2023_user_nation_post_group['CreationDate'].apply(lambda x:x.timetuple().tm_yday)

v2023_user_nation_post_group['day_nb']=v2023_user_nation_post_group['year_day']+v2023_user_nation_post_group['Delta_years']*365
# v2023_nation_post_group['week_nb']=v2023_nation_post_group['year_day']+v2023_nation_post_group['Delta_years']*365
v2023_user_nation_post_group['month_nb']=v2023_user_nation_post_group['month']+v2023_user_nation_post_group['Delta_years']*12

# v2023_user_nation_post_group=v2023_user_nation_post_group.merge(v2023_posts_type1_day_df,how='left',left_on='CreationDate',right_on='CreationDate')
# v2023_user_nation_post_group=v2023_user_nation_post_group.merge(v2023_posts_type2_day_df,how='left',left_on='CreationDate',right_on='CreationDate')
v2023_user_nation_post_group.to_csv('pans/0606-v2023_user_nation_post_group.csv',encoding='utf-8-sig')
v2023_user_nation_post_group.to_pickle('pans/0606-v2023_user_nation_post_group.pickle')
# v2023_nation_post_group[v2023_nation_post_group['nation']=='대한민국'][['month_nb']]
v2023_user_nation_post_group

            User_Id CreationDate  Up_vote  ...  year_day  day_nb  month_nb
0              22.0   2022-09-01      4.0  ...       244     609        21
1              22.0   2022-09-02      2.0  ...       245     610        21
2              29.0   2023-03-03      0.0  ...        62     792        27
3              33.0   2022-01-11      0.0  ...        11     376        13
4              33.0   2022-04-04      0.0  ...        94     459        16
...             ...          ...      ...  ...       ...     ...       ...
1011358  23485659.0   2023-09-18      1.0  ...       261     991        33
1011359  23485659.0   2023-09-24      0.0  ...       267     997        33
1011360  23485659.0   2023-10-03      1.0  ...       276    1006        34
1011361  23485659.0   2023-11-03      1.0  ...       307    1037        35
1011362  23499176.0   2022-10-28      3.0  ...       301     666        22

[1011363 rows x 33 columns]

In [37]:
df_user_nation_treat=pd.concat([v2022_user_nation_post_group,v2023_user_nation_post_group])
df_user_nation_treat['version_User_Id']=df_user_nation_treat['version']+'_'+df_user_nation_treat['User_Id'].astype(int).astype(str)

df_user_nation_treat['after']=np.where(df_user_nation_treat['CreationDate_parallel']>'2021-11-30',1,0)
df_user_nation_treat['treat']=np.where(df_user_nation_treat['version']=='2023version',1,0)
df_user_nation_treat=df_user_nation_treat[df_user_nation_treat['Score']>=0]
df_user_nation_treat=df_user_nation_treat[df_user_nation_treat['Q_Score']>=0]

df_user_nation_treat.to_csv('pans/0606-df_user_nation_treat.csv',encoding='utf-8-sig')
df_user_nation_treat.to_pickle('pans/0606-df_user_nation_treat.pickle')
df_user_nation_treat

,User_Id,CreationDate,Up_vote,...,version_User_Id,after,treat
0,22.0,2021-10-21,0.0,...,2022version_22,0,0
1,22.0,2022-09-01,3.0,...,2022version_22,1,0
2,22.0,2022-09-02,2.0,...,2022version_22,1,0
3,33.0,2021-01-20,0.0,...,2022version_33,0,0
4,33.0,2021-02-18,0.0,...,2022version_33,0,0
...,...,...,...,...,...,...,...
1011358,23485659.0,2023-09-18,1.0,...,2023version_23485659,1,1
1011359,23485659.0,2023-09-24,0.0,...,2023version_23485659,1,1
1011360,23485659.0,2023-10-03,1.0,...,2023version_23485659,1,1
1011361,23485659.0,2023-11-03,1.0,...,2023version_23485659,1,1
1011362,23499176.0,2022-10-28,3.0,...,2023version_23499176,0,1

In [38]:
dict_month_nb_3m={12:1,13:1,14:1,15:2,16:2,17:2,18:3,19:3,20:3,21:4,22:4,23:4,
                 24:5,25:5,26:5,27:6,28:6,29:6,30:7,31:7,32:7,33:8,34:8,35:8}

In [70]:
df_user_nation_treat_m=df_user_nation_treat.groupby(['version_User_Id','month_nb','User_Id','nation']).agg(
    Up_vote = ('Up_vote', 'mean'),
    Down_vote = ('Down_vote', 'mean'),
    Score =('Score', 'mean'),
    body_smog_index= ('body_smog_index', 'mean'),
    pure_body_string_len =('pure_body_string_len', 'mean'),
    pure_body_smog_index =('pure_body_smog_index','mean'),
    Q_Score= ('Q_Score', 'mean'),
    Q_ViewCount= ('Q_ViewCount', 'mean'),
    Q_AnswerCount= ('Q_AnswerCount','mean'),
    Q_CommentCount= ('Q_CommentCount','mean'),
    Q_FavoriteCount= ('Q_FavoriteCount', 'mean'),
    Q_body_string_len= ('Q_body_string_len', 'mean'),
    ans_ques_time= ('ans_ques_time','mean'),
    full_code_string_ratio= ('full_code_string_ratio','mean'),
    Q_Tags_set_filter =( 'Q_Tags_set_filter', lambda x:list(set(chain(*x)))),      
     TotalComment=('TotalComment',  'sum'),
     AnswerComment=('AnswerComment', 'sum'),
     QuestionerComment=('QuestionerComment', 'sum'),
     ViewerComment=('ViewerComment', 'sum'),
            year=('year','max'), 
            month=('month','max'), 
            after=('after','max'), 
            treat=('treat','max')
                        ).reset_index()


df_user_nation_treat_m['version']=df_user_nation_treat_m['version_User_Id'].map(lambda x:x.split('_')[0])
df_user_nation_treat_m['month_nb_3m']=df_user_nation_treat_m['month_nb'].map(dict_month_nb_3m)

df_user_nation_treat_m['Q_Tags_len_filter']=df_user_nation_treat_m['Q_Tags_set_filter'].map(lambda x:len(x))


median_Q_Tags_len_filter = df_user_nation_treat_m.groupby('month_nb')['Q_Tags_len_filter'].transform('median')

df_user_nation_treat_m['median_Q_Tags_len_filter'] = (df_user_nation_treat_m['Q_Tags_len_filter'] > median_Q_Tags_len_filter).astype(int)
# df_user_nation_treat_m = df_user_nation_treat_m.groupby('version_User_Id').filter(lambda x: set(['2022version','2023version']).issubset(x['version']))

df_user_nation_treat_m.to_csv('pans/0606-df_user_nation_treat_m.csv',encoding='utf-8-sig')
df_user_nation_treat_m.to_pickle('pans/0606-df_user_nation_treat_m.pickle')
df_user_nation_treat_m

,version_User_Id,month_nb,User_Id,...,month_nb_3m,Q_Tags_len_filter,median_Q_Tags_len_filter
0,2022version_100,26,100.0,...,5,0,0
1,2022version_10000051,30,10000051.0,...,7,0,0
2,2022version_10000051,31,10000051.0,...,7,1,0
3,2022version_10000066,32,10000066.0,...,7,1,0
4,2022version_10000173,25,10000173.0,...,5,0,0
...,...,...,...,...,...,...,...
1142560,2023version_9999810,31,9999810.0,...,7,0,0
1142561,2023version_9999810,32,9999810.0,...,7,1,0
1142562,2023version_9999810,33,9999810.0,...,8,0,0
1142563,2023version_999986,15,999986.0,...,2,1,0
1142564,2023version_9999964,29,9999964.0,...,6,0,0

In [95]:
df_user_nation_treat_m_save=df_user_nation_treat_m[df_user_nation_treat_m['month_nb'].isin(range(12, 36))]

df_user_nation_treat_m_save=df_user_nation_treat_m_save.groupby('version_User_Id').filter(lambda x: set(range(12, 36)).issubset(x['month_nb']))
df_user_nation_treat_m_save=df_user_nation_treat_m_save.groupby('User_Id').filter(lambda x: set(['2022version','2023version']).issubset(x['version']))
df_user_nation_treat_m_save.to_csv('pans/0606-df_user_nation_treat_m_save.csv',encoding='utf-8-sig')

df_user_nation_treat_m_save

,version_User_Id,month_nb,User_Id,nation,Up_vote,Down_vote,Score,body_smog_index,pure_body_string_len,pure_body_smog_index,Q_Score,Q_ViewCount,Q_AnswerCount,Q_CommentCount,Q_FavoriteCount,Q_body_string_len,ans_ques_time,full_code_string_ratio,Q_Tags_set_filter,TotalComment,AnswerComment,QuestionerComment,ViewerComment,year,month,after,treat,version,month_nb_3m,Q_Tags_len_filter,median_Q_Tags_len_filter
7815,2022version_10195153,12,10195153.0,Australia,0.666667,0.0,0.416667,8.075000,311.000000,7.825000,0.500000,378.916667,1.500000,1.083333,0.0,1105.583333,2.857639,0.141767,"[python, ruby, go, kotlin]",8.0,2.0,5.0,1.0,2020,12,0,0,2022version,1,4,1
7816,2022version_10195153,13,10195153.0,Australia,0.250000,0.0,0.250000,5.375000,158.750000,2.987500,0.250000,374.125000,1.250000,1.250000,NaN,3005.125000,1.172257,0.359383,"[c, python, php, javascript]",5.0,1.0,4.0,0.0,2021,1,0,0,2022version,1,4,1
7817,2022version_10195153,14,10195153.0,Australia,1.625000,0.0,1.250000,7.897917,245.708333,7.466667,0.541667,1046.791667,2.166667,2.354167,0.0,935.312500,2.165260,0.353198,[php],14.0,5.0,9.0,0.0,2021,2,0,0,2022version,1,1,0
7818,2022version_10195153,15,10195153.0,Australia,0.666667,0.0,0.666667,10.600000,463.333333,9.500000,0.333333,291.666667,1.666667,1.000000,NaN,852.333333,1.480926,0.393182,[sql],12.0,4.0,6.0,2.0,2021,3,0,0,2022version,2,1,0
7819,2022version_10195153,16,10195153.0,Australia,1.000000,0.0,1.000000,6.440000,326.700000,5.580000,0.600000,516.900000,1.200000,1.000000,0.0,1178.700000,1.704333,0.212420,"[php, sql, c#]",9.0,2.0,6.0,1.0,2021,4,0,0,2022version,2,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1141766,2023version_997358,31,997358.0,United States,0.625000,0.0,0.458333,7.820833,356.458333,6.425000,0.583333,101.541667,2.333333,1.916667,NaN,1315.416667,8.486250,0.389337,[],5.0,1.0,3.0,1.0,2023,7,1,1,2023version,7,0,0
1141767,2023version_997358,32,997358.0,United States,1.600000,0.0,1.600000,7.080000,290.266667,5.373333,0.733333,98.733333,2.866667,1.666667,NaN,1491.133333,5.452296,0.447730,[shell],4.0,0.0,1.0,3.0,2023,8,1,1,2023version,7,1,0
1141768,2023version_997358,33,997358.0,United States,1.000000,0.0,1.000000,12.950000,355.000000,7.050000,0.500000,128.000000,3.500000,0.000000,NaN,1553.000000,5.619444,0.475924,[],4.0,2.0,1.0,1.0,2023,9,1,1,2023version,8,0,0
1141769,2023version_997358,34,997358.0,United States,1.200000,0.0,1.200000,6.060000,258.000000,2.240000,0.000000,86.600000,2.200000,2.400000,NaN,2571.000000,5.245611,0.545821,[],1.0,0.0,1.0,0.0,2023,10,1,1,2023version,8,0,0
1141770,2023version_997358,35,997358.0,United States,1.857143,0.0,1.285714,9.764286,299.857143,7.857143,0.571429,77.000000,1.928571,0.642857,NaN,1530.714286,5.210337,0.477528,[],10.0,4.0,6.0,0.0,2023,11,1,1,2023version,8,0,0

In [97]:
print('total sample number',len(df_user_nation_treat_m_save['version_User_Id'].unique()))
print('total sample number-old',len(df_user_nation_treat_m_save[df_user_nation_treat_m_save['version']=='2022version']['version_User_Id'].unique()))
print('total sample number-new',len(df_user_nation_treat_m_save[df_user_nation_treat_m_save['version']=='2023version']['version_User_Id'].unique()))

total sample number 680
total sample number-old 340
total sample number-new 340

In [90]:
df_user_nation_treat_3m=df_user_nation_treat_m.groupby(['version_User_Id','month_nb_3m','User_Id','nation']).agg(
    Up_vote = ('Up_vote', 'mean'),
    Down_vote = ('Down_vote', 'mean'),
    Score =('Score', 'mean'),
    pure_body_string_len =('pure_body_string_len', 'mean'),
    pure_body_smog_index =('pure_body_smog_index','mean'),
    Q_Score= ('Q_Score', 'mean'),
    Q_ViewCount= ('Q_ViewCount', 'mean'),
    Q_AnswerCount= ('Q_AnswerCount','mean'),
    Q_CommentCount= ('Q_CommentCount','mean'),
    Q_FavoriteCount= ('Q_FavoriteCount', 'mean'),
    Q_body_string_len= ('Q_body_string_len', 'mean'),
    ans_ques_time= ('ans_ques_time','mean'),
    full_code_string_ratio= ('full_code_string_ratio','mean'),     
    Q_Tags_set_filter =( 'Q_Tags_set_filter', lambda x:list(set(chain(*x)))),    

     TotalComment=('TotalComment',  'sum'),
     AnswerComment=('AnswerComment', 'sum'),
     QuestionerComment=('QuestionerComment', 'sum'),
     ViewerComment=('ViewerComment', 'sum'),    
            year=('year','max'), 
            month=('month','max'), 
            after=('after','max'), 
            treat=('treat','max')
                        ).reset_index()
df_user_nation_treat_3m['version']=df_user_nation_treat_3m['version_User_Id'].apply(lambda x:x.split('_')[0])
df_user_nation_treat_3m = df_user_nation_treat_3m.groupby('version_User_Id').filter(lambda x: set(range(1, 9)).issubset(x['month_nb_3m']))
df_user_nation_treat_3m = df_user_nation_treat_3m.groupby('User_Id').filter(lambda x: set(['2022version','2023version']).issubset(x['version']))
df_user_nation_treat_3m['Q_Tags_len_filter']=df_user_nation_treat_3m['Q_Tags_set_filter'].map(lambda x:len(x))
df_user_nation_treat_3m.loc[df_user_nation_treat_3m['Q_Tags_len_filter'] <= 1, 'Q_Tags_len_filter'] = 1

# 首先，计算每个月的Id_count均值
median_Q_Tags_len_filter = df_user_nation_treat_3m.groupby('month_nb_3m')['Q_Tags_len_filter'].transform('median')


# 接下来，比较version_User_Id和均值，高于均值则high_Id_count为1，否则为0
df_user_nation_treat_3m['median_Q_Tags_len_filter'] = (df_user_nation_treat_3m['Q_Tags_len_filter'] > median_Q_Tags_len_filter).astype(int)

df_user_nation_treat_3m.to_csv('pans/0606-df_user_nation_treat_3m.csv',encoding='utf-8-sig')

df_user_nation_treat_3m

,version_User_Id,month_nb_3m,User_Id,nation,Up_vote,Down_vote,Score,pure_body_string_len,pure_body_smog_index,Q_Score,Q_ViewCount,Q_AnswerCount,Q_CommentCount,Q_FavoriteCount,Q_body_string_len,ans_ques_time,full_code_string_ratio,Q_Tags_set_filter,TotalComment,AnswerComment,QuestionerComment,ViewerComment,year,month,after,treat,version,Q_Tags_len_filter,median_Q_Tags_len_filter
629,2022version_10020419,1,10020419.0,Deutschland,2.083333,0.000000,2.083333,1025.750000,9.716667,1.000000,1563.333333,1.083333,2.166667,0.0,3942.083333,7.203750,0.257624,[],20.0,7.0,13.0,0.0,2021,12,0,0,2022version,1,0
630,2022version_10020419,2,10020419.0,Deutschland,2.750000,0.066667,2.683333,604.500000,5.483333,1.433333,1352.983333,1.483333,0.666667,0.0,2006.166667,5.599231,0.575419,[lua],20.0,7.0,12.0,1.0,2021,5,0,0,2022version,1,0
631,2022version_10020419,3,10020419.0,Deutschland,1.750000,0.000000,1.750000,265.750000,6.125000,0.500000,428.500000,2.000000,1.750000,NaN,938.000000,4.441528,0.318917,[],8.0,4.0,4.0,0.0,2021,8,0,0,2022version,1,0
632,2022version_10020419,4,10020419.0,Deutschland,2.022222,0.000000,2.022222,775.733333,9.431111,1.511111,1476.466667,1.711111,1.088889,0.0,1394.044444,9.416907,0.343799,[],12.0,4.0,7.0,1.0,2021,11,0,0,2022version,1,0
633,2022version_10020419,5,10020419.0,Deutschland,0.800000,0.000000,0.800000,549.800000,8.560000,1.200000,668.200000,1.800000,1.000000,0.0,1335.200000,9.799778,0.271322,[],4.0,2.0,2.0,0.0,2021,12,1,0,2022version,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899156,2023version_9989141,4,9989141.0,Eesti,3.888889,0.000000,3.861111,1180.500000,9.372222,0.805556,1258.277778,1.000000,0.583333,0.0,1051.416667,5.541235,0.202693,"[c++, arduino]",19.0,7.0,11.0,1.0,2022,11,0,1,2023version,2,0
899157,2023version_9989141,5,9989141.0,Eesti,1.750000,0.000000,1.416667,584.750000,11.025000,0.250000,560.750000,1.333333,1.833333,NaN,1492.833333,6.134838,0.110068,[],11.0,2.0,7.0,2.0,2023,2,1,1,2023version,1,0
899158,2023version_9989141,6,9989141.0,Eesti,1.611111,0.000000,1.611111,538.055556,9.666667,1.166667,388.555556,1.444444,1.722222,NaN,1623.500000,10.141759,0.217977,"[arduino, c++]",6.0,2.0,4.0,0.0,2023,5,1,1,2023version,2,0
899159,2023version_9989141,7,9989141.0,Eesti,1.000000,0.000000,1.000000,504.833333,9.216667,0.166667,277.833333,1.500000,1.166667,NaN,4106.166667,4.297315,0.145089,"[c, arduino, c++]",3.0,1.0,2.0,0.0,2023,8,1,1,2023version,3,1
899160,2023version_9989141,8,9989141.0,Eesti,1.000000,0.000000,1.000000,688.500000,11.200000,0.000000,109.500000,1.000000,1.500000,NaN,1839.000000,6.346806,0.107286,[],0.0,0.0,0.0,0.0,2023,11,1,1,2023version,1,0

In [92]:
len(df_user_nation_treat_3m)/8

3342.0

In [93]:
print('total sample number',len(df_user_nation_treat_3m['version_User_Id'].unique()))
print('total sample number-old',len(df_user_nation_treat_3m[df_user_nation_treat_3m['version']=='2022version']['version_User_Id'].unique()))
print('total sample number-new',len(df_user_nation_treat_3m[df_user_nation_treat_3m['version']=='2023version']['version_User_Id'].unique()))

total sample number 3342
total sample number-old 1671
total sample number-new 1671

In [62]:
dict_users_summury=dict(Counter(df_user_nation_treat_3m['User_Id']))
print('Repetitive',len([k for k,v in dict_users_summury.items() if v==16]))
print('Unique',len([k for k,v in dict_users_summury.items() if v==8]))

Repetitive 1671
Unique 2217

In [59]:
dict_users_summury

{10017265.0: 8,
 10020419.0: 16,
 10026074.0: 8,
 100297.0: 8,
 1003565.0: 8,
 10055162.0: 16,
 10063876.0: 8,
 10069313.0: 16,
 1007220.0: 16,
 10085080.0: 16,
 1008568.0: 16,
 1008999.0: 16,
 101087.0: 8,
 10112124.0: 16,
 10113238.0: 8,
 10134209.0: 16,
 101361.0: 8,
 10147399.0: 16,
 1016343.0: 16,
 10167914.0: 8,
 1018154.0: 8,
 10188661.0: 8,
 10195153.0: 16,
 10197418.0: 16,
 10209987.0: 8,
 1021504.0: 8,
 1021720.0: 8,
 1021819.0: 16,
 102205.0: 8,
 10220740.0: 16,
 1022260.0: 8,
 1023553.0: 16,
 10262805.0: 16,
 10270590.0: 8,
 10275943.0: 8,
 1028230.0: 16,
 10289265.0: 16,
 1029088.0: 8,
 102937.0: 8,
 10304804.0: 8,
 1030675.0: 16,
 10315665.0: 8,
 103167.0: 16,
 1031689.0: 8,
 1032372.0: 8,
 1032890.0: 8,
 10335.0: 16,
 10336767.0: 8,
 10347145.0: 16,
 10348758.0: 8,
 10351316.0: 8,
 10362396.0: 8,
 10366303.0: 8,
 1037345.0: 8,
 10373693.0: 8,
 1038015.0: 16,
 10386713.0: 8,
 10397.0: 16,
 10407448.0: 8,
 10409567.0: 8,
 104149.0: 16,
 10415047.0: 16,
 1041641.0: 16,
 10424385.0: 8,
 10426011.0: 16,
 10429793.0: 8,
 10431550.0: 8,
 10431574.0: 16,
 1043380.0: 16,
 104380.0: 16,
 10441671.0: 16,
 104458.0: 16,
 10451126.0: 8,
 1045142.0: 8,
 10462884.0: 16,
 10477283.0: 16,
 104774.0: 8,
 1047788.0: 16,
 1048425.0: 16,
 1048614.0: 16,
 10488504.0: 16,
 104891.0: 16,
 10495893.0: 16,
 10508.0: 16,
 10521959.0: 16,
 10527.0: 16,
 1054558.0: 16,
 10549791.0: 8,
 10559142.0: 16,
 1056563.0: 16,
 1056632.0: 16,
 1057052.0: 8,
 1057429.0: 8,
 1057485.0: 16,
 10577976.0: 16,
 1059372.0: 16,
 10601286.0: 8,
 10608621.0: 16,
 10612011.0: 8,
 106159.0: 16,
 10622916.0: 16,
 1062973.0: 8,
 10630900.0: 16,
 1063716.0: 16,
 1064245.0: 8,
 1064767.0: 16,
 10669010.0: 16,
 1067120.0: 8,
 10682289.0: 8,
 106865.0: 8,
 10687325.0: 8,
 10693596.0: 16,
 10697213.0: 8,
 10698741.0: 8,
 10699119.0: 8,
 10711216.0: 8,
 1071320.0: 16,
 1073758.0: 16,
 107409.0: 8,
 10743816.0: 8,
 10751265.0: 8,
 10758321.0: 8,
 10760768.0: 8,
 1076562.0: 8,
 10770370.0: 16,
 1077309.0: 8,
 10785975.0: 16,
 10789207.0: 16,
 10792320.0: 16,
 10798917.0: 8,
 10805872.0: 8,
 1080923.0: 16,
 1081396.0: 8,
 1082434.0: 16,
 10824697.0: 8,
 1082681.0: 16,
 10829300.0: 8,
 1083572.0: 16,
 10836810.0: 8,
 1084774.0: 16,
 10856808.0: 16,
 10867491.0: 8,
 10871073.0: 16,
 1087119.0: 16,
 10871900.0: 16,
 108796.0: 16,
 10883928.0: 8,
 1089967.0: 16,
 10900851.0: 8,
 10903581.0: 16,
 10907864.0: 8,
 10909029.0: 8,
 10910692.0: 16,
 10916580.0: 8,
 10952503.0: 16,
 10962766.0: 8,
 10963215.0: 8,
 10975692.0: 8,
 10987432.0: 8,
 10988264.0: 16,
 11002.0: 16,
 11018641.0: 16,
 1102051.0: 16,
 11035194.0: 8,
 11039164.0: 16,
 11043676.0: 8,
 11044542.0: 8,
 11048887.0: 16,
 11051303.0: 16,
 11064188.0: 8,
 11078857.0: 16,
 11083442.0: 8,
 11100735.0: 8,
 111036.0: 8,
 1110423.0: 16,
 11127541.0: 8,
 1113486.0: 8,
 11135174.0: 16,
 1114453.0: 16,
 1115360.0: 16,
 11158393.0: 8,
 1116230.0: 8,
 11178549.0: 16,
 111794.0: 8,
 11182.0: 16,
 11209037.0: 16,
 1121288.0: 16,
 11214643.0: 8,
 11218687.0: 8,
 11225291.0: 8,
 11225821.0: 16,
 11234199.0: 8,
 11246056.0: 16,
 1125159.0: 8,
 11262633.0: 16,
 1126841.0: 16,
 1127428.0: 16,
 11280289.0: 8,
 11281152.0: 8,
 11282404.0: 16,
 11294831.0: 16,
 112968.0: 16,
 1130542.0: 8,
 11322237.0: 16,
 11335032.0: 8,
 11355066.0: 8,
 11361952.0: 8,
 1136211.0: 16,
 1137174.0: 16,
 11372593.0: 16,
 11374827.0: 16,
 1138192.0: 8,
 11383969.0: 8,
 113848.0: 16,
 11389581.0: 8,
 11392290.0: 16,
 1139393.0: 8,
 11402198.0: 8,
 11405423.0: 16,
 11405542.0: 16,
 1142348.0: 8,
 11424673.0: 8,
 11427841.0: 8,
 1143681.0: 8,
 1143850.0: 16,
 11451.0: 8,
 11509906.0: 8,
 115145.0: 16,
 11515528.0: 8,
 11516012.0: 16,
 1151929.0: 8,
 11527.0: 8,
 11535816.0: 16,
 11535940.0: 16,
 11550065.0: 8,
 11551468.0: 8,
 1155209.0: 16,
 11552426.0: 16,
 11561000.0: 8,
 1156452.0: 16,
 11566161.0: 16,
 11579367.0: 8,
 11588364.0: 8,
 11592336.0: 8,
 1159783.0: 8,
 11599789.0: 8,
 11599909.0: 8,
 1160445.0: 8,
 11611288.0: 8,
 11613622.0: 16,
 1161484.0: 16,
 1161878.0: 8,
 11619647.0: 16,
 11622101.0: 8,
 11622836.0: 8,
 11625850.0: 16,
 1163423.0: 8,
 11635.0: 16,
 11644308.0: 16,
 11645617.0: 8,
 11664580.0: 16,
 11667949.0: 8,
 11686674.0: 16,
 11690526.0: 8,
 116908.0: 8,
 11698825.0: 8,
 1170207.0: 8,
 1170677.0: 8,
 1172189.0: 16,
 11724014.0: 8,
 11725056.0: 8,
 11732320.0: 16,
 1173495.0: 8,
 11737596.0: 8,
 1174024.0: 8,
 11741943.0: 16,
 11748454.0: 16,
 11766145.0: 16,
 11790356.0: 8,
 1179573.0: 16,
 1179828.0: 8,
 1180620.0: 16,
 11810946.0: 16,
 1181353.0: 8,
 118228.0: 16,
 1182464.0: 16,
 11826132.0: 8,
 11828164.0: 8,
 11828860.0: 16,
 11838196.0: 16,
 11846040.0: 8,
 11847557.0: 8,
 11849243.0: 16,
 11850259.0: 16,
 1185254.0: 8,
 118587.0: 8,
 11861954.0: 8,
 11869100.0: 8,
 1187415.0: 8,
 1188322.0: 16,
 11884237.0: 8,
 1188513.0: 8,
 118903.0: 16,
 11893958.0: 8,
 11897007.0: 8,
 1189885.0: 8,
 11923999.0: 16,
 119314.0: 16,
 1195266.0: 8,
 11956107.0: 16,
 11969592.0: 8,
 11969817.0: 16,
 11986450.0: 8,
 11987538.0: 8,
 1199.0: 8,
 11993121.0: 16,
 1199464.0: 16,
 12000053.0: 8,
 12001877.0: 8,
 12010984.0: 8,
 12035498.0: 8,
 12044155.0: 8,
 120513.0: 8,
 12056564.0: 8,
 1205871.0: 16,
 12066144.0: 16,
 120955.0: 16,
 1209921.0: 16,
 12101554.0: 16,
 12115512.0: 8,
 12118546.0: 16,
 1212012.0: 8,
 12121325.0: 8,
 1212166.0: 16,
 12129150.0: 8,
 121309.0: 8,
 1213708.0: 16,
 12148402.0: 8,
 12149471.0: 16,
 12158757.0: 16,
 12160777.0: 8,
 1216776.0: 16,
 12172291.0: 8,
 12176280.0: 16,
 1218512.0: 8,
 1221355.0: 8,
 1221571.0: 8,
 12221547.0: 8,
 12231984.0: 8,
 12242023.0: 8,
 1225328.0: 8,
 1225617.0: 16,
 12256545.0: 8,
 12276279.0: 8,
 12284689.0: 8,
 1228771.0: 8,
 1229624.0: 8,
 12299000.0: 8,
 1230836.0: 16,
 12313309.0: 8,
 12316488.0: 8,
 123238.0: 16,
 1233251.0: 16,
 12339739.0: 8,
 1234412.0: 16,
 12347708.0: 16,
 12349734.0: 16,
 12354911.0: 16,
 1236044.0: 8,
 12363915.0: 8,
 123671.0: 16,
 12369920.0: 8,
 1237575.0: 16,
 12378923.0: 8,
 12400214.0: 16,
 1240763.0: 16,
 12409915.0: 8,
 12412595.0: 8,
 12420884.0: 8,
 1242317.0: 16,
 1243641.0: 16,
 124486.0: 8,
 1244884.0: 16,
 1245450.0: 16,
 12464931.0: 16,
 12474862.0: 16,
 12480730.0: 16,
 1248114.0: 16,
 12490386.0: 16,
 1249641.0: 8,
 1249962.0: 16,
 1249994.0: 8,
 12500315.0: 16,
 1250319.0: 8,
 1250772.0: 16,
 1253609.0: 8,
 12539935.0: 8,
 12544391.0: 8,
 12545413.0: 8,
 1254707.0: 8,
 12550965.0: 16,
 12553450.0: 16,
 12555423.0: 8,
 1256452.0: 8,
 1257094.0: 8,
 125734.0: 16,
 1258111.0: 16,
 125816.0: 8,
 1258838.0: 16,
 12597.0: 16,
 125981.0: 16,
 126014.0: 16,
 12632699.0: 16,
 12634230.0: 16,
 12638118.0: 16,
 1263921.0: 16,
 12641717.0: 8,
 12647315.0: 16,
 1264804.0: 16,
 12650566.0: 8,
 12659872.0: 16,
 1267304.0: 8,
 12679.0: 8,
 126995.0: 16,
 1270000.0: 8,
 1270789.0: 8,
 1271826.0: 16,
 1273882.0: 16,
 127497.0: 8,
 12749998.0: 16,
 12754117.0: 8,
 12756381.0: 16,
 1276664.0: 16,
 12768467.0: 8,
 12775531.0: 16,
 12777835.0: 8,
 12778634.0: 8,
 127839.0: 8,
 1280439.0: 8,
 12805923.0: 8,
 12806961.0: 16,
 12816049.0: 16,
 128165.0: 16,
 12821675.0: 16,
 12824729.0: 8,
 1282923.0: 16,
 12833166.0: 16,
 12860195.0: 8,
 12861639.0: 8,
 12871582.0: 16,
 1288.0: 8,
 12890791.0: 8,
 12892695.0: 16,
 12894468.0: 8,
 1290731.0: 16,
 12910298.0: 8,
 12913491.0: 16,
 1291492.0: 8,
 1292848.0: 8,
 1293501.0: 8,
 1294207.0: 16,
 1294283.0: 16,
 1294667.0: 16,
 12957340.0: 16,
 12959590.0: 8,
 12967938.0: 8,
 12975140.0: 8,
 1298289.0: 8,
 12993861.0: 16,
 13001961.0: 16,
 13005829.0: 16,
 13014172.0: 16,
 130288.0: 16,
 13035630.0: 8,
 13051941.0: 8,
 1305344.0: 8,
 13055097.0: 8,
 13055253.0: 8,
 1305969.0: 8,
 13065781.0: 8,
 13070.0: 16,
 13073677.0: 8,
 1307905.0: 16,
 1308685.0: 8,
 13087977.0: 8,
 13091658.0: 8,
 13095326.0: 8,
 13098417.0: 8,
 13099964.0: 8,
 13101388.0: 8,
 13111779.0: 8,
 13130697.0: 8,
 13131047.0: 8,
 13134095.0: 16,
 1314762.0: 16,
 13155046.0: 8,
 1318694.0: 8,
 1318946.0: 16,
 131930.0: 16,
 1319998.0: 8,
 1320693.0: 16,
 13218530.0: 8,
 1322268.0: 16,
 132438.0: 16,
 13258525.0: 16,
 13268194.0: 8,
 13268855.0: 16,
 13278922.0: 16,
 1329116.0: 8,
 13302.0: 16,
 13310972.0: 8,
 1331399.0: 16,
 1331451.0: 8,
 13321647.0: 16,
 13332582.0: 16,
 13340143.0: 8,
 13343311.0: 8,
 13350652.0: 16,
 13361987.0: 8,
 1336654.0: 16,
 1337392.0: 16,
 1338.0: 16,
 13382000.0: 8,
 1340183.0: 8,
 134204.0: 16,
 13434871.0: 16,
 1343788.0: 8,
 13447.0: 16,
 134554.0: 16,
 13461183.0: 8,
 1346234.0: 16,
 1346276.0: 16,
 13463421.0: 16,
 13464279.0: 16,
 134725.0: 16,
 1348195.0: 8,
 13484937.0: 8,
 134850.0: 16,
 13508.0: 16,
 13510123.0: 8,
 1351469.0: 16,
 1353011.0: 16,
 13533028.0: 8,
 13546426.0: 8,
 13558035.0: 8,
 13573168.0: 16,
 1358308.0: 16,
 13590263.0: 16,
 13590970.0: 8,
 135978.0: 8,
 13605044.0: 8,
 13617136.0: 8,
 13619116.0: 8,
 1362755.0: 16,
 136285.0: 8,
 13629335.0: 8,
 1364288.0: 8,
 1364771.0: 8,
 13657344.0: 8,
 13658399.0: 16,
 136598.0: 8,
 1366033.0: 16,
 1366871.0: 8,
 1367454.0: 16,
 13678817.0: 8,
 13687.0: 16,
 13696660.0: 8,
 13698294.0: 8,
 13702221.0: 16,
 1371329.0: 16,
 13713938.0: 8,
 13726668.0: 8,
 13755144.0: 8,
 137650.0: 16,
 13766744.0: 8,
 13779574.0: 8,
 1378868.0: 8,
 13802115.0: 16,
 13812982.0: 16,
 13813219.0: 8,
 1381529.0: 8,
 138200.0: 16,
 138206.0: 16,
 13839521.0: 16,
 1384297.0: 16,
 1384539.0: 16,
 13900139.0: 8,
 13903942.0: 16,
 1390502.0: 8,
 1392379.0: 16,
 1394353.0: 16,
 13946204.0: 16,
 1394697.0: 16,
 1394729.0: 16,
 13947931.0: 8,
 13963086.0: 16,
 13963150.0: 16,
 13964273.0: 16,
 13968097.0: 8,
 13969611.0: 8,
 13970089.0: 8,
 13979518.0: 8,
 1398228.0: 16,
 1399491.0: 8,
 13997761.0: 8,
 139985.0: 16,
 13998537.0: 8,
 1400198.0: 8,
 1400793.0: 16,
 1401213.0: 8,
 1401560.0: 8,
 14015737.0: 8,
 14032355.0: 8,
 14043328.0: 8,
 14058726.0: 16,
 14065.0: 16,
 14072420.0: 16,
 140750.0: 16,
 1408347.0: 8,
 14104.0: 16,
 1410465.0: 8,
 14109825.0: 16,
 1411457.0: 8,
 141172.0: 16,
 1412059.0: 16,
 14122.0: 16,
 1413244.0: 16,
 14133230.0: 8,
 14133995.0: 8,
 1413856.0: 16,
 1415614.0: 8,
 14163532.0: 16,
 1422451.0: 16,
 1424244.0: 16,
 1424877.0: 16,
 14249087.0: 16,
 14258439.0: 8,
 1426065.0: 8,
 14264568.0: 8,
 14267427.0: 8,
 1426891.0: 16,
 14278448.0: 16,
 14284633.0: 8,
 1428606.0: 8,
 14314520.0: 8,
 1431734.0: 16,
 143305.0: 16,
 14343.0: 16,
 14344959.0: 8,
 14351818.0: 16,
 14357.0: 16,
 1435869.0: 16,
 14393739.0: 16,
 1440565.0: 16,
 14406845.0: 8,
 14419.0: 16,
 1442918.0: 16,
 1443038.0: 8,
 14434806.0: 8,
 1446916.0: 8,
 1447675.0: 16,
 14515077.0: 16,
 1452528.0: 16,
 14529454.0: 8,
 14529779.0: 16,
 1453822.0: 16,
 14558.0: 8,
 14566292.0: 8,
 14576258.0: 8,
 145989.0: 8,
 14608750.0: 8,
 1461050.0: 8,
 1461850.0: 16,
 1461862.0: 16,
 14624409.0: 16,
 146325.0: 8,
 14637.0: 16,
 14642035.0: 8,
 14660.0: 16,
 1471485.0: 8,
 147175.0: 8,
 14720380.0: 8,
 14761370.0: 8,
 14768.0: 16,
 1477667.0: 8,
 14787293.0: 16,
 14815986.0: 8,
 1482055.0: 8,
 1483190.0: 8,
 14843373.0: 8,
 14849316.0: 8,
 14853083.0: 16,
 1485926.0: 16,
 1485955.0: 16,
 1486742.0: 8,
 14870925.0: 8,
 14879760.0: 16,
 14895985.0: 16,
 1489675.0: 8,
 14898697.0: 8,
 14909980.0: 16,
 1491599.0: 8,
 1491895.0: 16,
 1492496.0: 16,
 14927325.0: 8,
 1492969.0: 8,
 149392.0: 16,
 1494519.0: 8,
 1497139.0: 16,
 14981915.0: 8,
 1503163.0: 16,
 1505074.0: 8,
 1505146.0: 8,
 1506387.0: 16,
 15074199.0: 8,
 1507691.0: 16,
 15078632.0: 8,
 15104639.0: 8,
 1511337.0: 16,
 15119845.0: 8,
 15131491.0: 8,
 1513187.0: 8,
 1516297.0: 8,
 15168.0: 16,
 1519574.0: 8,
 1520991.0: 8,
 1521179.0: 8,
 15261315.0: 16,
 1526406.0: 8,
 15264945.0: 8,
 15275.0: 16,
 1527544.0: 16,
 152794.0: 16,
 15282257.0: 8,
 152948.0: 16,
 1529709.0: 16,
 15299500.0: 8,
 1533263.0: 16,
 1533576.0: 16,
 1533592.0: 8,
 1537195.0: 8,
 1540350.0: 16,
 1540818.0: 16,
 1541563.0: 16,
 15416.0: 16,
 1542667.0: 16,
 1543502.0: 8,
 1544203.0: 16,
 15498.0: 8,
 1549918.0: 16,
 1550696.0: 16,
 155077.0: 8,
 1551102.0: 16,
 1552534.0: 16,
 1552748.0: 16,
 1553090.0: 16,
 1553537.0: 16,
 1554195.0: 16,
 155423.0: 8,
 1563833.0: 16,
 1565698.0: 16,
 1566221.0: 8,
 1570000.0: 16,
 1570854.0: 16,
 157247.0: 16,
 1577947.0: 8,
 157882.0: 16,
 1578898.0: 16,
 1580645.0: 8,
 15809.0: 16,
 1585136.0: 16,
 1585345.0: 16,
 1586860.0: 8,
 1587012.0: 16,
 1587329.0: 16,
 159145.0: 16,
 1592821.0: 8,
 1593077.0: 16,
 159365.0: 16,
 159388.0: 16,
 1595451.0: 16,
 159548.0: 16,
 1599004.0: 16,
 1600193.0: 8,
 16007.0: 16,
 1600898.0: 16,
 1601849.0: 8,
 160245.0: 16,
 1603746.0: 16,
 1606345.0: 16,
 160665.0: 8,
 1607937.0: 8,
 1609514.0: 16,
 1612146.0: 8,
 1614319.0: 16,
 1618513.0: 16,
 1618630.0: 8,
 1621444.0: 8,
 1622937.0: 8,
 1625187.0: 16,
 162698.0: 8,
 16287.0: 16,
 1630618.0: 16,
 1631193.0: 16,
 1633770.0: 8,
 1635906.0: 8,
 1639625.0: 16,
 1641381.0: 8,
 1650337.0: 16,
 165216.0: 8,
 1654143.0: 16,
 1655567.0: 8,
 1657465.0: 16,
 1658906.0: 16,
 1663001.0: 16,
 1663462.0: 16,
 1664318.0: 16,
 1665026.0: 8,
 1667023.0: 16,
 1667351.0: 16,
 1668575.0: 8,
 1676363.0: 16,
 167735.0: 16,
 1678770.0: 8,
 1679220.0: 16,
 1679849.0: 8,
 1680826.0: 8,
 1681903.0: 8,
 1682525.0: 8,
 1682820.0: 16,
 1685196.0: 8,
 168657.0: 8,
 1687119.0: 16,
 168986.0: 16,
 1690193.0: 16,
 1690217.0: 16,
 1693192.0: 16,
 169394.0: 16,
 1695062.0: 8,
 1695172.0: 8,
 1695960.0: 16,
 1704458.0: 16,
 1705598.0: 16,
 1705829.0: 8,
 1707091.0: 16,
 1712135.0: 16,
 1712294.0: 16,
 1714410.0: 8,
 1715673.0: 8,
 1716339.0: 16,
 1717210.0: 16,
 1726083.0: 16,
 1727392.0: 8,
 1729795.0: 16,
 172999.0: 8,
 1730895.0: 8,
 1737158.0: 8,
 1737251.0: 16,
 17389.0: 16,
 1738915.0: 8,
 1741346.0: 8,
 1743328.0: 16,
 17447.0: 8,
 1745544.0: 8,
 174777.0: 16,
 1749403.0: 16,
 1749551.0: 16,
 1751640.0: 8,
 1753903.0: 8,
 1754322.0: 16,
 175554.0: 16,
 1759915.0: 16,
 1762224.0: 16,
 1763614.0: 16,
 1765658.0: 16,
 1766831.0: 16,
 1772990.0: 8,
 1773798.0: 16,
 1773866.0: 8,
 1774667.0: 16,
 1775389.0: 16,
 1783588.0: 8,
 1790982.0: 16,
 1793968.0: 8,
 1794497.0: 8,
 179715.0: 16,
 179850.0: 16,
 179910.0: 16,
 1801544.0: 16,
 180286.0: 16,
 1804678.0: 8,
 181336.0: 16,
 1814420.0: 8,
 18157.0: 8,
 18177.0: 16,
 1818059.0: 16,
 181965.0: 16,
 1820446.0: 16,
 1822379.0: 16,
 1823705.0: 16,
 1824361.0: 8,
 182668.0: 16,
 1830563.0: 8,
 1831.0: 8,
 1831717.0: 16,
 1831987.0: 16,
 1832058.0: 8,
 1833961.0: 8,
 1836461.0: 8,
 1838048.0: 16,
 1839439.0: 16,
 1840146.0: 16,
 1841839.0: 16,
 1843175.0: 8,
 184405.0: 8,
 184509.0: 16,
 184546.0: 16,
 1846993.0: 8,
 1852005.0: 16,
 1853523.0: 16,
 1854124.0: 16,
 1855677.0: 16,
 185647.0: 16,
 1858357.0: 16,
 1862590.0: 8,
 18627.0: 16,
 1863229.0: 16,
 1866300.0: 16,
 1868008.0: 8,
 1870780.0: 8,
 1871033.0: 16,
 1876355.0: 16,
 1880339.0: 16,
 188096.0: 8,
 1882.0: 16,
 188246.0: 8,
 1882699.0: 16,
 1883316.0: 16,
 188740.0: 8,
 189103.0: 8,
 1891677.0: 16,
 1892607.0: 8,
 1898538.0: 16,
 1898563.0: 16,
 1900441.0: 8,
 1902010.0: 16,
 190277.0: 16,
 190371.0: 16,
 19068.0: 16,
 1907888.0: 8,
 1909531.0: 8,
 1911064.0: 16,
 1911755.0: 8,
 1918561.0: 16,
 1918962.0: 8,
 1919583.0: 16,
 1920035.0: 16,
 1930838.0: 8,
 193178.0: 16,
 1932552.0: 8,
 1934800.0: 8,
 1941241.0: 8,
 1948292.0: 8,
 194982.0: 8,
 1952287.0: 8,
 1953515.0: 16,
 1954610.0: 16,
 195636.0: 16,
 1959054.0: 16,
 1967571.0: 16,
 1968.0: 16,
 1971013.0: 8,
 1971216.0: 16,
 1974021.0: 16,
 1974224.0: 16,
 1977871.0: 8,
 1978251.0: 16,
 1984571.0: 8,
 1987437.0: 8,
 1987726.0: 16,
 19880.0: 16,
 1995738.0: 16,
 1998801.0: 16,
 2000548.0: 16,
 2001017.0: 8,
 2007153.0: 8,
 200936.0: 16,
 200987.0: 8,
 2011147.0: 16,
 201303.0: 8,
 201359.0: 8,
 2016006.0: 8,
 201657.0: 8,
 2018133.0: 16,
 202179.0: 8,
 202229.0: 8,
 2026508.0: 8,
 202694.0: 16,
 202969.0: 16,
 2029983.0: 16,
 ...}